.selectBtn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  height: 150px;
}

.selectBtn button {
  width: 335px;
  padding: 8px 0;
  font-size: 23px;
  color: #ffffff;
  background: #63a4ff;
  border: 3px solid #004ba0;
  border-radius: 37px;
  opacity: 1;
}
