body, html{
    margin: auto;
    display: flex;
    justify-content: center;
}

img{
    width: 300px;
    height: 300px;
}

.wrap{
    width: 500px;
    height: 710px;  
}

.mainTitle{
    margin-top: 80px;
    margin-left: 75px;
    width: 350px;
    height: 47px;
    font-size: 35px;
}

.startImg{
    margin-top: 35px;
    margin-left: 100px;
    margin-right: 100px;
}

.startBtn{
    width: 335px;
    height: 100px;
    margin-top: 50px;
    margin-left: 83px;
    margin-right: 83px;
    font-size: 30px;
    color:#FFFFFF;
    background: #63A4FF 0% 0% no-repeat padding-box;
    border: 3px solid #004BA0;
    border-radius: 37px;
    opacity: 1;
}